<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        tools:replace="android:theme"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <activity android:name="dev.shorthouse.remindme.HiltTestActivity"
            android:exported="false" />
    </application>
</manifest>
